*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url(../src/assets/fonts/Quicksand-VariableFont_wght.ttf) format("truetype");
}

body {
  font-family: "Quicksand", sans-serif !important;
}

.card {
  background-color: transparent;
  border: none;
  border-radius: 25px;
}

.navbar-toggler {
  border: none;
  /* color: rgb(19, 164, 88) !important; */
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn-close:focus {
  box-shadow: none;
}

.offcanvas-header {
  padding: 1rem 1rem 1rem 0.5rem;
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
  width: 55%;
}

.dropdown-toggle::after {
  border-right: none;
  border-left: none;
}

@media (max-width: 575.98px) {
  .nav-link a {
    color: rgb(25, 25, 25);
    text-decoration: none;
  }

  .nav-btn {
    margin-top: 1rem;
  }

  .nav-btn .btn:nth-child(1) {
    border: 1px solid rgb(19, 164, 88);
    color: rgb(19, 164, 88);
    margin-right: 1rem;
  }

  .nav-btn .btn:nth-child(2) {
    background-color: rgb(19, 164, 88);
    color: #fefefe;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .nav-link a {
    color: rgb(25, 25, 25);
    text-decoration: none;
  }

  .nav-btn {
    margin-top: 1rem;
  }

  .nav-btn .btn:nth-child(1) {
    border: 1px solid rgb(19, 164, 88);
    color: rgb(19, 164, 88);
    margin-right: 1rem;
  }

  .nav-btn .btn:nth-child(2) {
    background-color: rgb(19, 164, 88);
    color: #fefefe;
  }
}
