#covered {
  margin-top: 5rem;
  margin-bottom: 5rem;
  .container {
    max-width: 83%;
    h1 {
      font-size: 48px;
      font-weight: 800;
      color: #263238;
      text-align: center;
      margin-bottom: 4rem;
      @media (max-width: 575.98px) {
        font-size: 30px;
        margin-bottom: 1.5rem;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 575.98px) {
        flex-direction: column;
      }
      img:not(:nth-child(4)) {
        max-width: 15%;
        height: auto;
        @media (max-width: 575.98px) {
          max-width: 55%;
          margin-bottom: 2rem;
        }
      }
      img:nth-child(4) {
        max-width: 7%;
        height: auto;
        @media (max-width: 575.98px) {
          max-width: 27%;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
